<Doctype! html>

<head>

</head>
<body>

        <div class = "container-fluid>
                <h3>Sign up here</h3>
                <form method = "post" action = "/index">
                        <label for = "name" >Put in your name</label>
                        <input type = "text" name = "username" id ="name" placeholder = "John Doe"></input>
                        <label for = "email" >Put in your email</label>
                        <input type = "email" name = "email" id ="email" placeholder = "Johndoe@yahoo.com"></input>
                        <label for = "password" >Put in your password</label>
                        <input type = "password" name = "password" id ="password" ></input>
                        <button type = "submit" >SUBMIT</button>
                        <a href = "/">Don't have an account ?</a>
                </form>

        </div>

</body>

