<Doctype! html>

<head>

</head>

<body>
	<h3>Add task to list</h3>
	<ui>
	<li><i>example. Get groceries</i></li>
	</ui>

	<form method = "post" action = "/Tasks">
	<input type = "text" style = "height:100px; width:300px;" placeholder = "put in your tasks"></input>
	<button type = "submit">SUBMIT</button>
	</form>
</body>
